/* You can add global styles to this file, and also import other style files */
app-media-controller{
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* margin-top: -150px; */
    /* height: 150px; */
}

