<!-- <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = "<%= roomId %>"
      </script>
      <script defer src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
      <script src="/socket.io/socket.io.js" defer></script>
      <script src="script.js" defer></script>
      <title>Document</title>
      <style>
        
    </style>
</head>
<body> -->

<!-- lol xd -->
<!-- <div class="div-meeting-screen bg-dark"> -->
<!-- Display=  {{sidebarDrawer.displayItem}} -->
<div class="div-meeting-screen bg-dark">


  <mat-drawer-container bg-dark class="main-container bg-dark" autosize>


    <div class="content">
      <app-video-grid></app-video-grid>
      <!-- <button type="button" mat-button (click)="toggleDrawer()">
      Toggle sidenav
    </button> -->
    </div>

    <mat-drawer #drawer class="sidenav" mode="side" position="end">
      <!-- Info Div -->
      <div id="meeting-details" *ngIf="sidebarDrawer.displayItem == 'MeetingInfo'">
        <div class="heading">
          <nav class="navbar navbar-expand-lg navbar-light" style="width: 96%;">
            <a class="navbar-brand" style="width: 49%;">Meeting Details</a>
            <div style="width: 49%; text-align: right;">

              <span class="material-icons close-btn" (click)="closeSidebar()">
                close
              </span>
            </div>
          </nav>
        </div>
        <p id="user-field">User Name: {{USER_NAME}}</p>
        <p id="peer-id-field">Peer Id: {{MY_PEER_ID}}</p>
        <p id="room-id-field">Room: {{room_id}}</p>
        <button id="copy_link" (click)="copyRoomDetails()"><span class="material-icons" style="margin-right: 15px;">
            content_copy
          </span>
          <p>Copy joining info</p>
        </button>
      </div>

      <!-- Paticipant list div -->
      <div id="participants" *ngIf="sidebarDrawer.displayItem == 'ParticipantInfo'">
        <div class="heading participant">
          <nav class="navbar navbar-expand-lg navbar-light" style="width: 96%;">
            <a class="navbar-brand" style="width: 49%;">Participants</a>
            <div style="width: 49%; text-align: right;">

              <span class="material-icons close-btn" (click)="closeSidebar()">
                close
              </span>
            </div>
          </nav>
        </div>
        <!-- Participant List: {{participantList.length + 1}} -->
        <br>
        <ul id="ul-participant">
          <li *ngFor="let participant of participantList" matTooltip={{participant.peer_id}}>{{participant.name}}</li>
        </ul>
      </div>

      <!-- Chatbox -->
      <div id="div-chatbox" *ngIf="sidebarDrawer.displayItem == 'ChatBox'">
        <div class="heading">
          <nav class="navbar navbar-expand-lg navbar-light" style="width: 96%;">
            <a class="navbar-brand" style="width: 49%;">In-call Messages</a>
            <div style="width: 49%; text-align: right;">

              <span class="material-icons close-btn" (click)="closeSidebar()">
                close
              </span>
            </div>
          </nav>
        </div>
        <div class="alert alert-info" role="alert">
          Messages can only be seen by people in the call and are deleted when the call ends
        </div>
        <div id="div-chat-main">
          <ul>
            <li *ngFor="let messageElement of messageList">
              <p class="p-sender">{{messageElement.sender}}:</p>
              <p class="p.msg">{{messageElement.content}}</p>
            </li>
          </ul>
        </div>
        <div id="div-chatbox-btns">

          <input type="text" name="Message" id="input-msg" placeholder="Enter Message">
          <span class="material-icons" id="btn-chat-send" (click)="sendMessage()">
            send
          </span>
        </div>
      </div>
      <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
    </mat-drawer>

  </mat-drawer-container>


  <app-media-controller [participantList]="participantList"></app-media-controller>
</div>