<div id="device-selection-modal">

    <h1 mat-dialog-title>Settigns

    </h1>
    <div mat-dialog-content>

        <!-- DropDowns for device selection -->
        <select class="select-devie-dropdown">
            <option selected disabled>Choose Mic</option>
            <option *ngFor="let device of micList" value={{device.deviceId}}>{{device.label}}</option>
        </select>


        <select class="select-devie-dropdown">
            <option selected disabled>Choose Camera</option>
            <option *ngFor="let device of cameraList" value={{device.deviceId}}>{{device.label}}</option>
        </select>


        <select class="select-devie-dropdown">
            <option selected disabled>Choose Speaker</option>
            <option *ngFor="let device of speakerList" value={{device.deviceId}}>{{device.label}}</option>
        </select>

    </div>
</div>