<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="left-buttons">
        <span class="material-icons white-color circle grey-background"  (click)="openDialog()">
            settings
        </span>
        <span id='btn-toggle-camera' (click)="toggleCamera()" class='material-icons white-color circle'
            [ngClass]="{'grey-background green-border' : cameraEnabled == true, 'red-background': cameraEnabled == false}">
            {{cameraEnabled === true ? 'videocam' : 'videocam_off'}}
        </span>

        <span id='btn-toggle-mic' (click)="toggleMic()" class='material-icons white-color circle'
            [ngClass]="{'grey-background green-border' : micEnabled == true, 'red-background': micEnabled == false}">
            {{micEnabled === true ? 'mic' : 'mic_off'}}
        </span>
        <span class="material-icons white-color circle grey-background" (click) = "startScreenShare()">
            screen_share
            </span>
    </div>

   


    <div class="middle-buttons">
        <span class="material-icons white-color oval red-background">
            call_end
        </span>
    </div>
    <div class="right-buttons">
        <span class="material-icons white-color circle grey-background" (click)="toggleInfo()">
            info
        </span>

        <span class="material-icons white-color circle grey-background" (click) = "toggleChat()">
            chat
        </span>

        <span class="material-icons white-color circle grey-background" (click)="toggleParticipantInfo()">
            people
            <span class='badge badge-warning' id='lblCartCount'>{{participantList.length}}</span>
        </span>
    </div>



</nav>