<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->

    <span id='btn-toggle-camera' (click)="toggleCamera()" class='material-icons white-color circle'
        [ngClass]="{'grey-background green-border' : cameraEnabled == true, 'red-background': cameraEnabled == false}">
        {{cameraEnabled === true ? 'videocam' : 'videocam_off'}}
    </span>
    
    <span id='btn-toggle-mic' (click)="toggleMic()" class='material-icons white-color circle'
        [ngClass]="{'grey-background green-border' : micEnabled == true, 'red-background': micEnabled == false}">
        {{micEnabled === true ? 'mic' : 'mic_off'}}
    </span>

    
    <button (click)="displayMediaDevices()">Get Devices</button>

    <span class="material-icons white-color circle grey-background">
        more_vert
        </span>


    <br>

    <select (change)="changeMedia($event.target, 'audioinput')">
        <option selected disabled>Choose Mic</option>
        <option *ngFor="let device of micList" value={{device.deviceId}}>{{device.label}}</option>
    </select>

    <br>


    <select (change)="changeMedia($event.target, 'videoinput')">
        <option selected disabled>Choose Camera</option>
        <option *ngFor="let device of cameraList" value={{device.deviceId}}>{{device.label}}</option>
    </select>

    <br>

    <select>
        <option selected disabled>Choose Speaker</option>
        <option *ngFor="let device of speakerList" value={{device.deviceId}}>{{device.label}}</option>
    </select>



    

    <span class="material-icons white-color oval red-background">
        call_end
    </span>




</nav>

