<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- <img src="./../../assets/Logo.png" alt="Logo" width="46" height="24" class="d-inline-block align-text-top"> -->
        <span class="navbar-brand mb-0 h1">Online Meeting</span>
        <span class="navbar-brand mb-0 user">User : {{username}}</span>
    </div>
</nav>

<div class="container-fluid container-video">
    <div class="div-video">

        <video id='my-video' class = 'video'></video>
        <app-login-screen-media-controller></app-login-screen-media-controller>
        

    </div>

    <div class="div-meeting-details">
        <h3>
            
        </h3>
        <input type="text" id="inp-text-username" placeholder = "User Name" [(ngModel)]="username"><br>
        <input type="text" id="inp-text-meeting-id" placeholder = "Meeting ID"><br>
        <button class = 'meeting-details-btn' id='btn-create-meeting' (click)="createMeeting()">Create Meeting</button>
        <button class = 'meeting-details-btn' id='btn-join-meeting' (click)="joinMeeting()">Join Meeting</button>
    </div>

</div>



<!-- <app-media-controller></app-media-controller> -->